body{
  font-family: 'Courier New', Courier, monospace;
}
.font-italic{
  font-style: italic;
}
.font-bold {
  font-style: bold;
}
#color-blue{
  color:aqua;
}
.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
.paragraph-text{
  font-size: larger;
  line-height: 20px;
  font-family: 'Trebuchet MS';
}